/*Police Titre*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

/*Police Générales*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
}

.row {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2500px;
    animation: fadeout 3s;
    animation-fill-mode: forwards;
    z-index: 3;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
}

#loader-1:before,
#loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #99e2d0;
}

#loader-1:before {
    z-index: 100;
    animation: spin 1s infinite;
}

#loader-1:after {
    border: 10px solid #ff79da;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    99% {
        height: 2500px;
        width: 100%;
    }
    100% {
        opacity: 0;
        height: 0;
        width: 0;
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.container {
    max-width: 1950px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header-contend {
    position: relative;
}

.fa-arrow-left {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    transform: scale(1.5);
    color: black;
}

.fa-arrow-left:active {
    transform: scale(2);
    transition: calc(0.2s);
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: default;
}

.logo_img {
    height: 35px;
}

.img_restau {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 500px;
}

.menu {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #dbdbdb;
    z-index: 2;
    margin-top: -80px;
    position: sticky;
    padding-top: 1px;
}

h1 {
    font-family: "Shrikhand", cursive;
    margin-left: 20px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.h1_heart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -70px;
}

.heart_vide {
    position: relative;
    right: 33px;
    bottom: 5px;
    transform: scale(1.5);
}

.heart_plein {
    position: relative;
    color: transparent;
    background-image: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
    right: 53px;
    bottom: 5px;
}

.heart_plein:active {
    cursor: pointer;
    opacity: 1;
    transform: scale(3);
}

h2 {
    font-size: medium;
}

.entrees_plats_desserts {
    margin-left: 20px;
    background-color: #99e2d0;
    height: 4px;
    width: 50px;
    display: flex;
    flex-direction: column-reverse;
    line-height: 40px;
    margin-top: 70px;
}

.block_carte {
    margin-bottom: 20px;
}

.carte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 20px 30px 0px grey;
    border-radius: 15px;
    height: 65px;
    padding-left: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

.h3_p_carte {
    width: 60%;
}

.h3_p_carte h3 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: -8px;
    width: 140%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.h3_p_carte p {
    font-size: 14px;
    width: 140%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.prix {
    margin-right: -40%;
    font-size: 15px;
    font-weight: bold;
    padding-top: 7%;
    animation: prixout 0.4s ease 0s 1 normal forwards;
}

.logo_valide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    border-radius: 0 15px 15px 0;
    background-color: #99e2d0;
    color: white;
    animation: slide-out-valid 0.4s ease 0s 1 normal forwards;
}

.carte:active .h3_p_carte h3 {
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.carte:active .h3_p_carte p {
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.carte:active .prix {
    margin-right: 0%;
    margin-left: 15%;
    animation: prixin 0.5s ease 0s 1 normal forwards;
}

.carte:active .logo_valide {
    animation: slide-in-valid 0.5s ease 0s 1 normal forwards;
}

.carte:active .logo_valide i {
    animation: logo_valide 1s ease 0s 1 normal forwards;
}

.entrees {
    animation: apparition_menu 0.5s ease 3.5s 1 normal both;
}

.plats1 {
    animation: apparition_menu 0.5s ease 3.7s 1 normal both;
}

.plats2 {
    animation: apparition_menu 0.5s ease 3.9s 1 normal both;
}

.plats3 {
    animation: apparition_menu 0.5s ease 4.1s 1 normal both;
}

.plats {
    animation: apparition_menu 0.5s ease 4.3s 1 normal both;
}

.plats4 {
    animation: apparition_menu 0.5s ease 4.6s 1 normal both;
}

.plats5 {
    animation: apparition_menu 0.5s ease 4.8s 1 normal both;
}

.plats6 {
    animation: apparition_menu 0.5s ease 5s 1 normal both;
}

.desserts {
    animation: apparition_menu 0.5s ease 5.2s 1 normal both;
}

.plats7 {
    animation: apparition_menu 0.5s ease 5.5s 1 normal both;
}

.plats8 {
    animation: apparition_menu 0.5s ease 5.7s 1 normal both;
}

.plats9 {
    animation: apparition_menu 0.5s ease 5.9s 1 normal both;
}

@keyframes slide-out-valid {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(250px);
    }
}

@keyframes slide-in-valid {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes prixout {
    0% {
        opacity: 1;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes prixin {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes logo_valide {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes apparition_menu {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fa-circle-check {
    color: white;
    font-size: large;
}

.boutton_commander {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: #dbdbdb;
    margin-top: -20px;
}

#Recherche {
    border-radius: 25px;
    background: linear-gradient(#ff79da, #9356dc);
    color: #fff;
    height: 45px;
    width: 200px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
    box-shadow: 0px 8px 10px -5px grey;
}

#Recherche:active {
    opacity: 0.7;
    transition: 0.2s;
    box-shadow: 0px 8px 10px 5px grey;
}

/* tablette */
@media screen and (min-width: 800px) {
    .prix {
        padding-top: 5%;
    }

    .entrees_plats_desserts {
        margin-left: 50px;
    }

    .carte {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* desktop */
@media screen and (min-width: 1100px) {
    .prix {
        padding-top: 2%;
    }

    .menu_desktop {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .m1 {
        margin-right: -70px;
    }

    .fa-arrow-left:hover {
        transform: scale(2);
        transition: calc(0.2s);
    }

    .carte:hover .h3_p_carte h3 {
        width: 95%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .carte:hover .h3_p_carte p {
        width: 95%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .carte:hover .prix {
        margin-right: 0%;
        margin-left: 15%;
        animation: prixin 0.5s ease 0s 1 normal forwards;
    }

    .carte:hover .logo_valide {
        animation: slide-in-valid 0.5s ease 0s 1 normal forwards;
    }

    .carte:hover .logo_valide i {
        animation: logo_valide 1s ease 0s 1 normal forwards;
    }

    #Recherche:hover {
        opacity: 0.7;
        transition: 0.2s;
        box-shadow: 0px 8px 10px 5px grey;
    }

    .heart_plein:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(3);
    }
}
